.vscode
wp-admin
wp-includes
/*.php
/*.html
/*.txt
!/wp-content/plugins
/wp-content/plugins/*
/wp-content/plugins/recipe/
!/wp-content/plugins/recipe/
!/wp-content/plugins/hooks-example.php
/wp-content/upgrade
/wp-content/uploads
/wp-content/index.php
/wp-content/themes/twentynineteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentytwenty
/wp-content/themes/index.php
/wp-content/themes/udemy/assets